
/*	-----------------------------------------------

	form elements & fieldset styles

	----------------------------------------------- */

/**
*	basic form elements
**/

fieldset {
	display: block;
	width: auto;
}

label {
	display: inline-block;
	color: #333;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
}
label.disabled {
	color: #ccc;
}

input, select, textarea {
	color: #333;
	font-family: Arial, sans-serif;
	font-size: 12px;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input:invalid,
select:invalid,
textarea:invalid {
	box-shadow: none;
	outline: 0;
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]) {
	width: 140px;
	height: 20px;
	border: 1px solid #ccc;
	padding: 2px;
}

select {
	width: auto;
	min-width: 80px;
	height: 20px;
	border: 1px solid #ccc;
	padding: 1px;
}

textarea {
	line-height: 16px;
	border: 1px solid #ccc;
	padding: 2px;
	vertical-align: top;
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]):focus,
select:focus,
textarea:focus {
	border-color: #333;
	outline: none;
}

input:not([type=checkbox]):not([type=radio]):not([type=submit])[disabled=disabled],
input:not([type=checkbox]):not([type=radio]):not([type=submit]).disabled,
select[disabled=disabled], select.disabled,
textarea[disabled=disabled], textarea.disabled {
	color: #ccc;
	border-color: #dedede;
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]).invalid,
select.invalid,
textarea.invalid {
	border-color: #c00;
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]).input-med,
select.input-med {
	/* default */
	width: 140px;
}
input:not([type=checkbox]):not([type=radio]):not([type=submit]).input-xshort,
select.input-xshort {
	width: 40px;
	min-width: 40px;
}
input:not([type=checkbox]):not([type=radio]):not([type=submit]).input-short,
select.input-short {
	width: 80px;
}
input:not([type=checkbox]):not([type=radio]):not([type=submit]).input-long,
select.input-long {
	width: 240px;
}
input:not([type=checkbox]):not([type=radio]):not([type=submit]).input-xlong,
select.input-xlong {
	width: 360px;
}
input:not([type=checkbox]):not([type=radio]):not([type=submit]).input-auto,
select.input-auto {
	width: auto;
	min-width: auto;
}

textarea.textarea-sm {
	/* default */
	width: 140px;
	height: 38px; /* line-height X 2 + padding + border */
}
textarea.textarea-med {
	width: 300px;
	height: 70px; /* line-height X 4 + padding + border */
}
textarea.textarea-lrg {
	width: 520px;
	height: 102px; /* line-height X 6 + padding + border */
}

input[type=checkbox],
input[type=radio] {
	/* setting exact size removes IE padding, makes uniform cross-browser */
	width: 15px;
	height: 15px;
	cursor: pointer;
	vertical-align: middle;
}

input[type=submit],
input[type=reset],
input[type=button],
button {
	cursor: pointer;
	font-weight: bold;
	letter-spacing: 1px 5px;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	background: #ccc;
	border: 1px solid #333;
	padding: 1px 8px;
	overflow: visible; /* IE width fix, does not affect other browsers */
}
input[type=submit]:focus, input[type=submit]:hover,
input[type=reset]:focus, input[type=reset]:hover,
input[type=button]:focus, input[type=button]:hover,
button:focus , button:hover {
	background: #dedede;
	outline: none;
}

input + input, input + select, input + textarea,
select + input, select + select, select + textarea,
textarea + input, textarea + select, textarea + textarea {
	margin-left: 5px;
}

input.btn {
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 2px;
	background: #900;
	border-radius: 3px;
	padding: 1px 16px;
	-webkit-transition: color .2s, background-color .2s;
	-moz-transition: color .2s, background-color .2s;
	-o-transition: color .2s, background-color .2s;
	transition: color .2s, background-color .2s;
}
input.btn:focus, input.btn:hover {
	background: #c00;
}

input.alt-btn {
	color: #333;
	text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 2px;
	background: #ccc;
	border-radius: 3px;
	padding: 1px 16px;
	-webkit-transition: color .2s, background-color .2s;
	-moz-transition: color .2s, background-color .2s;
	-o-transition: color .2s, background-color .2s;
	transition: color .2s, background-color .2s;
}
input.alt-btn:focus, input.alt-btn:hover {
	background: #dedede;
}

input.sm-btn {
	color: #fff;
	font-size: 11px;
	text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 2px;
	background: #900;
	border-radius: 3px;
	padding: 1px 8px;
	-webkit-transition: color .2s, background-color .2s;
	-moz-transition: color .2s, background-color .2s;
	-o-transition: color .2s, background-color .2s;
	transition: color .2s, background-color .2s;
}
input.sm-btn:focus, input.sm-btn:hover {
	background: #c00;
}

span.form-note { /* note next to an input field */
	display: inline-block;
	color: #666;
	font-size: 11px;
	line-height: 15px;
	margin: 5px 0 0 5px;
}
div.form-message { /* message below an input field */
	color: #666;
	font-size: 11px;
	line-height: 15px;
	margin-top: 5px;
}

label.offscreen {
	position: fixed;
	left: -9999px;
}

/*** /basic form elements ***/


/**
*	fieldset classes
**/

/* text inputs, selects, textareas */
fieldset.text-fields {
	margin: 0 0 12px 0;
}
	fieldset.text-fields ol {
		list-style: none;
		margin: 0;
	}
	fieldset.text-fields ol > li {
		margin: 0 0 8px 0;
	}
	fieldset.text-fields ol.horizontal-fields label {
		width: 100px;
		text-align: right;
		margin: 1px 5px 1px 0;
	}
	fieldset.text-fields ol.horizontal-fields div.form-message {
		margin-left: 110px; /* matches label width + margin */
	}
	fieldset.text-fields ol.vertical-fields label {
		display: block;
		margin: 0 0 2px 0;
	}
	fieldset.text-fields ol.inline-fields > li {
		display: inline-block;
		margin-right: 10px;
	}
	fieldset.text-fields ol.inline-fields label {
		margin: 1px 5px 1px 0;
	}

/* checkbox and radio inputs */
fieldset.check-fields {
	margin: 0 0 12px 0;
}
	fieldset.check-fields ol {
		list-style: none;
		margin: 0;
	}
	fieldset.check-fields ol > li{
		margin: 0 0 8px 0;
	}
	fieldset.check-fields ol.inline-fields > li {
		display: inline-block;
		margin-right: 10px;
	}
	fieldset.check-fields ol.inline-fields input[type=checkbox],
	fieldset.check-fields ol.inline-fields input[type=radio] {
		float: left;
	}
	fieldset.check-fields ol.inline-fields label {
		display: block;
		margin: 0 0 0 20px;
	}
	fieldset.check-fields ol.block-fields input[type=checkbox],
	fieldset.check-fields ol.block-fields input[type=radio] {
		float: left;
	}
	fieldset.check-fields ol.block-fields label {
		display: block;
		margin: 0 0 8px 20px;
	}

/* wrapper for form buttons */
fieldset.form-btns {
	margin: 0 0 24px 0;
	padding-top: 8px;
	border-top: 1px solid #ccc;
}
fieldset.form-btns.form-btns-right {
	text-align: right;
}

/*** /fieldset classes ***/

/*** TEST form ***/

form#Form fieldset.check-fields,
form#Form fieldset.form-btns {
	width: 50%;
	min-width: 320px;
}

/*** /TEST form ***/
